a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
body {
	background-color: whitesmoke;
	font-family: 'Roboto', sans-serif;
}

h1 {
	color: rgb(134, 178, 227);
}

#ha17 {
	color: rgb(134, 178, 227);
}

#im7r7-2 {
	text-align: right;
}